.navbar {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #0a3565;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
  z-index: 3;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 5.5rem;
  width: 5.5rem;
  margin-right: 8px;
}

.navbar-left span {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.user-icon {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  margin-right: 0.6rem;
  background-color: white;
  object-fit: cover;
}

.navbar-right span {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 1.25rem;
}
