<configuration scan="true">

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="Logtail" class="com.logtail.logback.LogtailAppender">
        <appName>${LOGTAIL_APP_NAME}</appName>
        <sourceToken>${LOGTAIL_TOKEN}</sourceToken>
        <ingestUrl>${LOGTAIL_INGEST_URL}</ingestUrl >
        <mdcFields>requestId,requestTime</mdcFields>
        <mdcTypes>string,int</mdcTypes>
    </appender>

    <logger name="br.com.cefet.caccoId" level="INFO" additivity="false">
        <appender-ref ref="JSON_FILE"/>
        <appender-ref ref="Logtail"/>
    </logger>

    <logger name="br.com.cefet.caccoId.CaccoIdApplication" level="OFF" additivity="false"/>

</configuration>
