.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 3rem;
  overflow-x: auto;
  /* gap: 0.5rem; */
}

.step {
  background-color: #e0e0e0;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  flex-shrink: 0;
}

.step-icon {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
}

.step.active {
  border: 2px solid #00aaff;
}

.step.completed {
  background-color: #00aaff;
}

.progress-line {
  height: 4px;
  background-color: #e0e0e0;
  flex-grow: 1;
  align-self: center;
}

.progress-line.completed {
  background-color: #00aaff;
}

@media (max-width: 600px) {
  .progress-container {
    flex-direction: column;
    align-items: center;
    /* gap: 1.5rem; */
    padding: 3rem 0;
  }

  .step {
    width: 4rem;
    height: 4rem;
  }

  .step-icon {
    width: 2rem;
    height: 2rem;
  }

  .progress-line {
    width: 4px;
    height: 3rem;
  }
}
