.form-step {
  width: 100%;
  margin-bottom: 3rem;
  text-align: start;
  display: grid;
  grid-template-rows: 1fr;
}

h2 {
  margin-bottom: 0;
  color: black;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.25rem;
}

.form-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.form-first-column, .form-second-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.form-input-label {
  color: black;
  margin-bottom: 0.25rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 1.75rem;
}

p > span {
  color: #F04036;
}

input, select {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  color: black;
  background-color: white;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  width: 30vw;
  height: 3.5rem;
  padding-left: 0.8rem;
}

input:focus, input:hover, select:hover, select:hover {
  border: 2px solid #00aaff; 
  outline: none;
}

input::placeholder {
  color: #000000;
  opacity: 0.3;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  padding-left: 0.8rem;
}

.error-message {
  color: #F04036;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.2rem;
}
